body {
      font-family: "Segoe UI", sans-serif;
}
@page {
  size: A4;
     @top-right {
    content: counter(page);
  }
}

.header-centered{
    text-align: center;
}
.p-inline{
    display: inline;
}
h2{
    text-align: center;
}

 .image-container img {
     /* this makes two images fit side by side. For more images replace with (1/n)*100, where n is number of images */
      width: calc(50% - 8px);
      height: auto;
  }