{% macro anomaly_section(anomaly, images) %}
<div class="anomaly">
    <h3>{{anomaly}}</h3>
    {% for row in images | batch(2) %}
    <div class="image-row">
        {% for img in row%}
            {% if img is not none %}
            <div class="image-container">
                <img src="{{img.image_uri}}" alt="anomaly"/>
                <p >{{img.image_name}}</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<section class="header">
    <div class="header-centered">
        <h1>{{t.title}} </h1>
        <h3>{{t.project}}:{{meta.project_name}}</h3>
    </div>
    <p>{{t.num_images}}: {{total_images}} </p>
    <p>{{t.confidence_threshold}}: {{threshold*100}}% </p>
    <hr/>
</section>
<section id="anomalies">
    <h2>{{t.anomalous_images}}</h2>
    {% for category, images in anomaly_groups.items() %}
        {% if images %}
            {{ anomaly_section(category, images) }}
        {% endif %}
    {% endfor %}
</section>
</body>
</html>
