<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<section class="header">
    <div class="header-centered">
        <h1>Unclassified Anomaly Report </h1>
        <h3>project:{{project_name}}</h3>
    </div>
    <p>Number of Images analysed: {{total_images}} </p>
    <p>Confidence threshold: {{threshold*100}}% </p>
    <hr/>
</section>
<section id="anomalies">
    <h2>Anomalous images</h2>
    <div class="anomaly">
        <h3>Block Artifact</h3>
        <ul>
            {% for img in artifact_images %}
            <li>
                <p class="p-inline">{{img.image_name}}</p>
                <p class="p-inline">confidence: {{img.anomaly_confidence*100}}%</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="anomaly">
        <h3>Color Difference</h3>
        <ul>
            {% for img in color_diff_images %}
            <li>
                <p class="p-inline">{{img.image_name}}</p>
                <p class="p-inline">confidence: {{img.anomaly_confidence*100}}%</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="anomaly">
        <h3>Water Mask</h3>
        <ul>
            {% for img in water_mask_images %}
            <li>
                <p class="p-inline">{{img.image_name}}</p>
                <p class="p-inline">confidence: {{img.anomaly_confidence*100}}%</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="anomaly">
        <h3>Line Artifact</h3>
        <ul>
            {% for img in line_artifact_images %}
            <li>
                <p class="p-inline">{{img.image_name}}</p>
                <p class="p-inline">confidence: {{img.anomaly_confidence*100}}%</p>
            </li>
            {% endfor %}
        </ul>
    </div>

</section>
</body>
</html>